<h3><%= @user.name %>さんのページ</h3>
<%= link_to "戻る", :back %>
<table>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td>
      <%= @user.post_code %>
    </td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
      <%= @user.address %>
    </td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td>
      <%= @user.introduction %>
    </td>
  </tr>
</table>
