<div id="<%= dom_id report %>">
  <p>
    <strong><%= t(Report.human_attribute_name('user')) %>:</strong>
    <%= report.user.name || report.user.email %>
  </p>

  <p>
    <strong><%= t(Report.human_attribute_name('title')) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= t(Report.human_attribute_name('content')) %>:</strong>
    <%= report.content %>
  </p>

</div>
